body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.wrapper{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
}
.quiz-container{
    /* border: solid black 1px; */
    text-align: center;
    padding: 3rem;
}
.hide{
    display: none;
}

.btn {
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        background-color: lightgrey;
        color: black;
        border-radius: 5px;
}
.btn:hover{
/* Using rgba to darken lightgrey by 10% */
background: rgba(169, 169, 169, 0.9); /* 90% opacity */
}
.next-btn{
    background-color: blue;
    color: whitesmoke;

}
.start-btn{
    height: 50px;
    width: 80px;
    font-weight: bold;
}

#question-text {
    font-weight: bold;
    font-size:30px;
}
.correct {
    background-color: green;
    color: whitesmoke;

}
.incorrect{
    background-color: red;
    color: whitesmoke;

}

